@import "../../scss/colors.scss";

@mixin button-variant($background, $border, $color) {
    background-color: $background;
    border: 1px solid $border;
    color: $color;

    &:hover {
        border: 1px solid $border;
        color: $color;
    }
}

.btn-primary {
    @include button-variant($blue, $blue, $white);
}

.btn-success {
    @include button-variant($green, $green, $white);
}

body {
    font-family: 'Inter-Regular';
    color: $black;
}

.btn-primary {
    &.basic {
        @include button-variant($blue, $blue, $white);
    }
}

.body {
    font-family: 'Inter-Regular';

    .container {
        max-width: 1180px;

        .img-container {
            height: 340px;
            min-height: 120px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            background: rgb(244, 244, 244);
            background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(251, 251, 251, 1) 35%, rgba(244, 244, 244, 1) 100%);
        }

        .item-title {
            font-family: 'Inter-Bold';
            font-size: 24px;
        }

        .card-main{
            border: none;
        }
        .card-info{
            background-color: gainsboro; 
            border: none;
        }

        .text-main{
            text-align: justify; 
            font-size: 15px;
        }

        .sticky{
            top: 20px;
        }
    }
}

.img-prof{
    height: 70px;
    width: 70px;;
}
