@import '../../scss/colors.scss';

@import '../../fonts/fonts.scss';

.body {
    font-family: Inter-Regular;

   
}
.cursor-pointer  {
    cursor: pointer;
}
.searchContainer {
    border-radius: 8px;
    background-color: #003D9B;
    padding-top: 20vh;
    padding-bottom: 20vh;

   .search-text {
        font-family: Inter-Bold;
        color: $white;

        h2 {
            font-size: 26px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 52px;
        }
    }

    .search-toolbox {
        
        .item {
            background-color: $white;
            border-right: 1px solid $gray;

            padding: 0;


            border-radius: 0;
            .type {
                font-family: Inter-Regular;
                font-size: 10px;
            }

            .btn {
               
                font-family: Inter-Medium;
                font-size: 14px;
                min-width: 150px;
                text-align: justify;
                vertical-align: top;
                height: 100%;
                background-color: white;
                border: 0;
            }

        }



        .search {
            height: 54px;
            border: 0;
            background-color: $blue;
            color: $white;
            border-radius: 0 8px 8px 0;
        }
    }

    .dropdown-toggle::after{
        float: right;
    }

    
}

div:has(.col-6) .first {
    border-radius: 4px 0 0 4px; 
}

.first {
    border-radius:  8px 0 0 8px !important; 
}


.recommend {

    .text {
        font-family: 'Inter-SemiBold';
        font-size: 28px;
        color: $black;
    }
}

.cars {

    .text {
        font-family: 'Inter-SemiBold';
        font-size: 28px;
        color: $black;
    }

}


.active {
    border       : none;
    border-bottom: 0px;
    text-align   : start;
    border-radius: 0;
}

.active:active {
    border       : none;
    border-bottom: 0px;
}

.accordion-button {
    color: dimgrey;
}

.input-custom {
    width: 100%;
}




.accordion {
    --bs-accordion-btn-icon-transform: none;
    --bs-accordion-border-width      : none;
}

.container-main {
    max-width: 1200px;
}

.img-h {
    max-height: 230px;
}

.text-all-end {
    text-align: end;
}

.text-color-demigray {
    color: dimgray !important;
}

.desc {
    text-align: justify;
    color     : #353839;
}

.accordion-button{
    padding: 0;
    padding-left: 20px;
}

.accordion-body-s{
 padding-left: 20px;
}
