.not-found
{
    height: 100vh;
    background: rgb(102,151,237);
background: linear-gradient(259deg, rgba(102,151,237,1) 0%, rgba(82,123,187,1) 100%);background: rgb(102,151,237);
background: linear-gradient(259deg, rgba(102,151,237,1) 0%, rgba(82,123,187,1) 100%);
    color: white;
}
