@import '../../fonts/fonts.scss';
@import '../../scss/colors.scss';


.banner {
    &--item {

        cursor: pointer;
        width: 278px;
        height: 280px;
        background-color: $white;
        filter: drop-shadow(0px 0px 4px $shadow);
        border-radius: 8px;

        img {
            object-fit: fill;
            border-radius: 8px 8px 0 0;
            width: inherit;
            height: 185px;
        }

        &__title {
            font-family: 'Inter-SemiBold';
            font-size: 16px;
            color: $black;
        }

        &__result {
            font-family: Inter-Regular;
            font-size: 16px;
            color: $gray;
        }
    }
}
