$black: rgb(9, 11, 14);
$l-black: rgb(23, 36, 58);
$g-blue-d: rgb(35, 55, 87);
$gl-blue-dark: rgb(35, 62, 101);
$l-blue-d: rgb(39, 73, 125);
$blue: rgb(47, 91, 154);
$blue-hover: rgb(52, 104, 176);
$l-blue: rgb(64, 117, 183);
$gl-blue: rgb(100, 147, 204);
$ll-blue: rgb(154, 184, 223);
$w-blue: rgb(201, 216, 238);
$vl-blue: rgb(231, 237, 247);
$v-w-blue: rgb(243, 246, 252);
$w-gray: rgb(246, 246, 247);
$v-l-gray: rgb(238, 238, 241);
$w-gray: rgb(224, 224, 229);
$gray: rgb(204, 204, 213);
$ld-gray: rgb(179, 178, 190);
$g-gray: rgb(104, 100, 111);
$d-gray: rgb(50, 49, 53);
$white: rgb(255, 255, 255);
$green: rgb(28, 176, 81);

$shadow: rgba(217, 217, 217, 0.74);
